include layout/header.pug

include layout/menu.pug

<!-- Main content -->
main
  <h1>Jade - node template engine</h1>
  <div class="col" id="container">
    <p>You are amazing</p>
    <p>
      Jade is a terse and simple
      templating language with a
      strong focus on performance
      and powerful features.
    </p>
  </div>

  br
  br
  br

include layout/footer.pug
