doctype html
<html lang="en">
  head
    meta(charset="UTF-8")
    title
      | Amiculum Boilerplatte
    meta(name="Description" content="A simple yet thorough webpack starter boilerplate for static websites that acheive high performance and cover all best practices.")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    <!-- Mobile header color for Chrome, Firefox OS and Opera -->
    meta(name="theme-color" content="#2c638f")
    <!-- Mobile header color Windows Phone -->
    meta(name="msapplication-navbutton-color" content="#2c638f")
    <!-- Mobile header color for iOS Safari (supports black, black-translucent or default) -->
    meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")

    <!-- Fontawesome -->
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous")

<body>